*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    position:static;
}
.footer h3{
    color: rgb(243, 8, 94);
    cursor: pointer;
    font-family: auto;
}
.icon_item{
    font-size: x-large;
    padding: 10px;
}